@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    transition: all 5s ease-in-out;
}

.main {
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.esquerdo {
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.esquerdo>h1 {
    color: #77ffc0;
}

.imagemdelogin {
    width: 35vw;
}

.direito {
    width: 50vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.card {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;

}

.card>h1 {
    color: #86e6bb;
    font-weight: 800;
    margin: 0;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px 0px;
}

.field>input {
    outline: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.field>label {
    color: #f0ffffde;
    margin-top: 20px;
    margin-bottom: 10px;
}

.field>input::placeholder {
    color: #f0ffff94;
}

.loginbtn {
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px #00ff8052;
}